*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
*.hprof
/run.sh
installToMachine.sh
/apkFile/
/gradle/wrapper/gradle-wrapper.properties
common_module/
gradle/wrapper/gradle-wrapper.properties
gradle-wrapper.properties
wrapper.properties
/gradle/*
/gradle/*/*
